<div class="row">
  <div class="col-md-9">
    <strong>Infos sur <em>{{game.name}}</em></strong> ({{game.users.length}} joueurs) <br>
    Partie créé le {{game.createdAt|date:'dd/MM/yyyy'}} <br>
    <button class="btn btn-sm btn-success" (click)="start(game)" *ngIf="!game.started">Start</button>
    <strong class="text-success" *ngIf="game.started">Started!</strong>
  </div>
  <div class="col-md-3">
    {{game.deckCards.length}} cartes restantes dans la pioche <button class="btn btn-sm btn-primary" (click)="drawCard(game)" *ngIf="game.deckCards.length > 0">Piocher</button>
  </div>
</div>
<div class="row max-size">
  <section class="max-size col-md-9">
    <div id="board-container">
      <div id="board">
        <ng-container *ngIf="game.boardCards.length === 0">No card on board</ng-container>
        <ng-container *ngIf="game.boardCards.length > 0">
          <ng-container *ngFor="let card of game.boardCards">
            <div class="ghost-card" dnd-droppable (onDropSuccess)="playCard($event.dragData, $event.mouseEvent.target)">ghostCard</div>
            <card [card]=card></card>
          </ng-container>
          <div class="ghost-card" dnd-droppable (onDropSuccess)="playCard($event.dragData, $event.mouseEvent.target)">ghostCard</div>
        </ng-container>
      </div>
    </div>
    <br>

    <div id="hand-container">
      <br>
      <h3>Votre main :</h3>
      <div id="hand">
        <ng-container *ngFor="let card of game.handCards">
          <ng-container *ngIf="card.user == auth.currentUser._id">
            <card [card]=card></card>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </section>

  <aside class="col-md-3">
    <div id="opponents">
      <h3>Vos adversaires :</h3>
      <ng-container *ngFor="let user of game.users">
        <ng-container *ngIf="user._id != auth.currentUser._id">
          <opponent [user]=user [cards]=game.handCards></opponent>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="game.users.length < 2">
        Aucun autre joueur dans la partie
      </ng-container>
    </div>
  </aside>
</div>
